header {
  -webkit-app-region: drag;

  span, button {
    -webkit-app-region: no-drag;
  }
}


@font-face {
  font-family: 'HuakangWeibei';
  src: url('../../assets/huakangWeibeiW7.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.card-container {
  color: #fff;
  font-family: 'HuakangWeibei', serif;
  background-size: cover;
  width: 1270px;
  height: 715px;
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;


  .card-head {
    font-size: 24px;
    position: relative;
    z-index: 1;
    transform-origin: center right;

    td {
      padding: 0 4px;
    }
  }

  .card-main-border {
    background-image: url("../../assets/resources/cardContent/mainBorder.png");
    background-position: center;
    background-size: 100% 150%;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
  }

  .card-content {
    flex: 1;
    position: relative;
    z-index: 2;
  }

  .card-footer {
    position: relative;
    z-index: 1;
    font-size: 18px;
  }

  .card-frame-container {
    position: relative;
    height: 498px;
    width: 380px;
    transform-origin: center left;
  }

  .card-frame-background {
    cursor: pointer;
  }

  .card-frame-number-container {
    position: absolute;
    width: 104px;
    height: 104px;
  }

  .card-frame-number-content {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .card-description-container {
    background-image: url("../../assets/resources/cardContent/contentArea.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 24px;
    width: 680px;
    height: 478px;
  }

  .card-description-attr {
    background-image: url("../../assets/resources/cardContent/otherMainBorder.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 48px;
    height: 64px;
    font-size: 24px;
    position: relative;
    margin-bottom: -12px;
  }

  .card-description-follower-attr {
    background-image: url("../../assets/resources/cardContent/followerMainBorder.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 0 48px;
    height: 64px;
    font-size: 24px;
    position: relative;
    margin-bottom: -12px;
  }

  .card-frame-name-container {
    position: absolute;
    width: 264px;
    height: 42px;
    display: flex;
  }

  .card-frame-select {
    position: absolute;
    min-width: 96px;
    z-index: 2;

    .ant-select-selector {
      padding: 0;
    }

    .ant-select-arrow {
      display: none;
    }

    .ant-select-selection-item {
      display: none;
    }
  }

  .card-frame-name {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 32px;
    white-space: nowrap;
  }

  .card-details-attr {
    position: absolute;
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }

  .card-details-unevolved {

  }

  .crad-details-follower-unevolved {
    background-image: url("../../assets/resources/cardContent/underLine.png");
    font-size: 16px;
    position: relative;
    margin: 0 auto;
    line-height: 27px;
  }

  .crad-details-follower-evolved {
    position: relative;
  }

  .card-details-description-textarea {
    background-color: transparent;
    color: #fff;
    height: 100%;
  }

  .card-head-select {
    .ant-select-selector {
      padding: 0;
    }

    .ant-select-arrow, .ant-select-selection-overflow-item-suffix, .ant-select-selection-item-remove {
      display: none;
    }

    .ant-select-selection-item-content {
      margin-inline-end: 0;
    }

    .ant-select-selection-item {
      color: #fff;
      font-family: 'HuakangWeibei', serif;
      font-size: 24px;
      padding-inline-start: 0;
      margin-inline-end: 0;
      padding-inline-end: 0;
    }

    .ant-select-selection-overflow > *:nth-child(2)::before {
      content: "·";
      display: inline-block;
      color: #fff;
      font-size: 24px;
      font-family: 'HuakangWeibei', serif;
      margin: 0 -4px
    }
  }
}

.card-container-mask {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.card-text {
  color: #fff;
  font-family: 'HuakangWeibei', serif;
}

.w-e-text-container {
  background-color: unset !important;
  color: unset !important;
}

.w-e-text-container [data-slate-editor] {
  padding: 0 !important;
}

.w-e-text-container [data-slate-editor] p {
  margin: 1px 0 !important;
  line-height: 27px !important;
}
